include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page-induction/page-induction
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		block content
		+scripts(['app.min.js'])
