.page-top-line
	display block
	height 50px
	background #041e50

	.top-line-nav
		display inline-block
		float right
		line-height 50px

		.top-line-nav__item
			padding 0 20px
			display inline-block
			height 50px
			font-size 15px
			text-decoration none
			color white
			background #1d3454
			border none
			transition background .2s ease-out

			&:hover
				background #eb6852

			+below(360px)
				padding 0 10px

			.fa
				font-size 18px
