mixin page-top-line()
	+b.page-top-line&attributes(attributes)
		.container
			.top-line-nav
				a.top-line-nav__item(target="_blank" href="http://www.electrolux.ru/support/") Поддержка
				a.top-line-nav__item(target="_blank" href="http://www.electrolux.ru/support/find-a-store/") 
					i.fa.fa-map-marker 
					|&nbsp;&nbsp; Поиск магазинов
		block
