mixin page-footer()
	+b.page-footer&attributes(attributes)
		.container
			a(target="_blank" href="http://www.electrolux.ru/overlays/terms-and-conditions/") Правовая информация
			a(target="_blank" href="http://www.electrolux.ru/support/contact-us/") Контакты и обратная связь
		block
