.page-footer
	padding 20px 0
	display block
	background white
	border-top 1px solid #efefef

	a
		margin-right 15px
		margin-bottom 10px
		display inline-block
		font-size 16px
		line-height 1.3
		text-decoration none
		color #0b62c8
		border-bottom 1px solid rgba(10, 98, 200, .4)
		transition color .2s ease-out, border .2s ease-out

		&:hover
			color #eb6852
			border-color #e2a79d
