@font-face
  font-family 'Proxima Nova'
  src url('assets/fonts/ProximaNovaLight.woff') format('wof')
  font-style  normal
  font-weight 200

@font-face
  font-family 'Proxima Nova'
  src url('assets/fonts/ProximaNovaRegular.woff') format('wof')
  font-style  normal
  font-weight 300

@font-face
  font-family 'Proxima Nova'
  src url('assets/fonts/ProximaNovaBold.woff') format('wof')
  font-style  normal
  font-weight 700
