include ../page-top-line/page-top-line
include ../page-header/page-header
include ../page-footer/page-footer

mixin page()
	+b('body').page&attributes(attributes)

		.page-wrapper
			+page-top-line
			+page-header
			iframe(src="http://electrolux-60days.ru/" style="width: 100%; height: 2945px; border: none;")
		+page-footer
		block
