.page
    min-width 320px
    height 100%
    font-family 'Proxima Nova', sans-serif
    background #f9f9f8

    .page-wrapper
        margin-bottom -60px
        min-height 100%

    .page-wrapper:after
        display block
        height 60px
        content ''

    .container
        margin 0 auto
        padding 0 7%
        max-width 1440px
        clearfix()
