include ../page-top-line/page-top-line
include ../page-header/page-header
include ../page-content/page-content
include ../page-footer/page-footer

mixin page()
	+b('body').page&attributes(attributes)
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJ2S2X5"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		
		.page-wrapper
			+page-top-line
			+page-header
			+page-content

		+page-footer
		block
