include ../icon/icon

mixin page-header()
	+b.page-header&attributes(attributes)
	
		.container
			a(href="/").logo
				+icon('electrolux_logo')
				
			//- .page-header_nav
			//- 	a(target="_blank" href="http://www.electrolux.ru/Products/") Продукция
			//- 	a(target="_blank" href="http://www.electrolux.ru/Support/") Поддержка
		block
