.page-header
		padding 25px 0
		display block
		background #fefefe
		border-bottom 1px solid #efefef

		.logo
			margin-right 30px
			display inline-block
			vertical-align middle

			+below(736px)
				margin-bottom 15px

		svg
			width 210px
			height 49px

		.page-header_nav
			margin-top 15px
			display inline-block
			vertical-align middle

			a
				margin-right 20px
				margin-bottom 10px
				display inline-block
				font-size 19px
				line-height 1.3
				text-decoration none
				color #0b62c8
				border-bottom 1px solid rgba(10, 98, 200, .4)
				transition color .2s ease-out, border .2s ease-out

				&:hover
					color #eb6852
					border-color #e2a79d
