.promo
	padding 40px 0
	display block

	.right-floated
		float right

	.promo_header
		margin-bottom 30px
		font-size 46px
		font-weight bold
		line-height 1.3
		color #041e50

		+below(360px)
			font-size 36px

	.promo_item
		margin-bottom 20px
		display inline-block
		overflow hidden
		box-sizing border-box
		width 49%
		height 380px
		vertical-align top
		letter-spacing -10px
		background white
		border 1px solid #efefef
		transition box-shadow .3s ease-out

		+below(1000px)
			float left
			width 100%

		+below(500px)
			height auto

		&:hover
			box-shadow 0 5px 13px rgba(121, 121, 121, .27)

			.promo_cashback, .promo_cook, .promo_induction, .promo_skazka, .promo_3in1
				transform scale(1.05)

		.promo_item_header
			margin-bottom 15px
			font-size 26px
			font-weight bold
			line-height 1.1
			color #041e50

		.promo_item_text
			margin-bottom 10px
			font-size 18px
			line-height 1.3
			color #333

		.promo_item_text_blue
			font-size 18px
			line-height 1.3
			color #041e50

		.promo_item_button
			position absolute
			bottom 0
			margin-top 50px
			padding 16px 20px
			display inline-block
			font-size 18px
			text-decoration none
			color white
			background #eb6852
			border-radius 3px
			transition background .2s ease-out

			+below(500px)
				position relative
				margin-bottom 40px

			&:hover
				background #f95a3f

		.promo_item_column
			position relative
			padding 40px 30px 0 45px
			display inline-block
			box-sizing border-box
			width 50%
			height 330px
			vertical-align top
			letter-spacing normal

			+below(500px)
				display block
				width 100%
				height auto

		.promo_item_image
			display inline-block
			overflow hidden
			width 50%
			height 380px
			text-align right
			vertical-align top

			+below(500px)
				width 100%
				height 200px

			img
				height 315px

				+below(500px)
					height 200px

		.promo_skazka
			height 380px
			background url('../images/cashback-skazka.jpg') left top no-repeat
			background-size cover
			transition all 1.5s ease

			+below(500px)
				height 200px

		.promo_cashback
			height 380px
			background url('../images/cashback-ny.jpg') 50% 10% no-repeat
			background-size cover
			transition all 1.5s ease

			+below(500px)
				height 200px

		.promo_cook
			height 380px
			background url('../images/cashback-bake.jpg') center no-repeat
			background-size cover
			transition all 1.5s ease

			+below(500px)
				height 200px

		.promo_induction
			height 380px
			background url('../images/cashback-induction.jpg') center no-repeat
			background-size cover
			transition all 1.5s ease

			+below(500px)
				height 200px

		.promo_3in1
			height 380px
			background url('../images/cashback-3in1.jpg') center no-repeat
			background-size cover
			transition all 1.5s ease

			+below(500px)
				height 200px
