mixin promo()
	+b.promo&attributes(attributes)
	
		.container
		
			h1.promo_header Промо-акции Electrolux
			
			.promo_item
				a(target="_blank" href="/3in1/").promo_item_image
					.promo_3in1
					
				.promo_item_column
					h2.promo_item_header Попробуйте стиральную машину 3 в 1
					p.promo_item_text Стирка, сушка, пар.
					a.promo_item_button(target="_blank" href="/3in1/") Подробнее

					
			.promo_item.right-floated
				a(target="_blank" href="/induction/").promo_item_image
					.promo_induction
					
				.promo_item_column
					h2.promo_item_header Попробуйте индукцию!
					p.promo_item_text Кратчайший путь к вкусным блюдам.
					a.promo_item_button(target="_blank" href="/induction/") Подробнее
					
			.promo_item
				a(target="_blank" href="/cashback/").promo_item_image
					.promo_cashback
					
				.promo_item_column
					h2.promo_item_header Electrolux возвращает деньги! 
					p.promo_item_text Получи до 50% от стоимости техники!
					p.promo_item_text_blue Акция завершена
					a.promo_item_button(target="_blank" href="/cashback/") Подробнее
					
		block
